*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
}
nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav li:first-child{
    margin-right: auto;
}
nav a:hover{
    background-color: lightgray;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menu-button{
    display: none;
}
  
.carousel {
    position: relative;
    width: 80%;
    max-width: 800px;
    height: 600px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
  
.carousel-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}
  
.carousel-track {
    display: flex;
    height: 100%;
    transition: transform 0.4s ease-in-out;
}
  
.carousel-item {
    min-width: 100%;
    position: relative;
}
  
  
.carousel-item iframe {
    
    height: 100%;
    width: 100%;
    display: none;
}
  
.carousel-item video.active {
    display: block;
}
  
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
}
  
.carousel-button.left {
    left: 10px;
}
  
.carousel-button.right {
    right: 10px;
}
  



@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .sidebar{
        width: 100%;
    }
    .menu-button{
        display: block;
    }
    .carousel-container {
        width: 100%;
        max-width: 100%;
      }
    .video-container{
        flex-direction: column;
    }
    .carousel-button{
        font-size: 25px; 
    }
    
}